.vs/Docker/v17/.wsuo
.vs/Docker/v17/DocumentLayout.json
.vs/Docker01/v17/DocumentLayout.json
.vs/slnx.sqlite
PAYMENT/PAYMENT/.vs/PAYMENT/v17/DocumentLayout.json
PAYMENT/PAYMENT/.vs/PAYMENT/v17/DocumentLayout.backup.json
PAYMENT/PAYMENT/.vs/PAYMENT/v17/.suo
PAYMENT/PAYMENT/.vs/PAYMENT/FileContentIndex/a902c853-a7f3-4145-9afc-29ccbb403e4b.vsidx
PAYMENT/PAYMENT/.vs/PAYMENT/FileContentIndex/59d4e97b-f7d5-4fcd-9171-fbc56cf4424f.vsidx
PAYMENT/PAYMENT/.vs/PAYMENT/FileContentIndex/50859c25-1897-4bf7-84a5-b1aee3e12966.vsidx
PAYMENT/PAYMENT/.vs/PAYMENT/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/Docker01/v17/.suo
